In [98]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [99]:
order_df = pd.read_csv("../ecommerce-data-model-analysis-using-SQL/data/orders.csv")

In [100]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [101]:
aisles_df = pd.read_csv("../ecommerce-data-model-analysis-using-SQL/data/aisles.csv")
departments_df = pd.read_csv("../ecommerce-data-model-analysis-using-SQL/data/departments.csv")
order_products_df = pd.read_csv("../ecommerce-data-model-analysis-using-SQL/data/order_products.csv")
products_df = pd.read_csv("../ecommerce-data-model-analysis-using-SQL/data/products.csv")

In [102]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [103]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [104]:
order_products_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [105]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [106]:
#connection
try:
    conn = psycopg2.connect(dbname="ecom_analysis", user='postgres', password='root', port='5432')
except:
    print("connection was unsuccessful")

In [107]:
cur = conn.cursor()

In [108]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/ecom_analysis')

In [109]:
cur.execute("""
CREATE TABLE IF NOT EXISTS aisles (
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR
)
""")

In [110]:
cur.execute("""
CREATE TABLE IF NOT EXISTS departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [111]:
cur.execute("""
CREATE TABLE IF NOT EXISTS products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [112]:
cur.execute("""
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [113]:
cur.execute("""
CREATE TABLE IF NOT EXISTS order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [114]:
conn.commit()

In [115]:
order_df.drop('eval_set', inplace=True, axis=1)

In [116]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [117]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [118]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [119]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

83

In [ ]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)